*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M43 250L293 0L483.5 0L233.5 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)'%3e%3c/path%3e%3cpath d='M252.60000000000002 250L502.6 0L664.6 0L414.6 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)'%3e%3c/path%3e%3cpath d='M492.20000000000005 250L742.2 0L881.7 0L631.7 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)'%3e%3c/path%3e%3cpath d='M736.8000000000001 250L986.8000000000001 0L1117.3000000000002 0L867.3000000000001 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)'%3e%3c/path%3e%3cpath d='M1435 250L1185 0L993 0L1243 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)'%3e%3c/path%3e%3cpath d='M1187.4 250L937.4000000000001 0L814.4000000000001 0L1064.4 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)'%3e%3c/path%3e%3cpath d='M921.8 250L671.8 0L484.29999999999995 0L734.3 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)'%3e%3c/path%3e%3cpath d='M723.1999999999999 250L473.19999999999993 0L272.19999999999993 0L522.1999999999999 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)'%3e%3c/path%3e%3cpath d='M1267.2820869448376 250L1440 77.28208694483757L1440 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1001%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 250L172.71791305516243 250L 0 77.28208694483757z' fill='url(%26quot%3b%23SvgjsLinearGradient1002%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1001'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1002'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
h1{
    font-size: 60px;
    margin: 0;
    color: rgb(17, 245, 138);
    text-shadow: 5px 5px 10px rgb(0,0,0,0.5);
    font-family: sans-serif;
}
textarea{
    margin: 30px 0;
    width: 400px;
    height: 200px;
    box-shadow: 12px 12px 15px rgb(0,0,0,0.5);
    font-size: 18px;
    padding: 5px;
    border: none;
    outline: none;
}
button{
    width: 200px;
    height: 50px;
    font-size: 25px;
    border: none;
    outline: none;
    background:white;
    color: black;
    box-shadow: 12px 12px 15px rgb(0,0,0,0.5);
    border-radius: 4px;
    cursor: pointer;
}
button:hover
{
    background: black;
    color:white;
}
@media only screen and (max-width: 600px)
 {
    h1 {
        font-size: 40px;
        margin: 0;
        color: rgb(228, 118, 243);
        text-shadow: 5px 5px 10px rgb(0,0,0,0.5);
        font-family: sans-serif;
    }
    textarea {
        width: 90%;
        height: 180px;
        font-size: 16px;
    }
    button {
        width: 150px;
        height: 40px;
        font-size: 20px;
}
button:hover
{
    background: gray;
    color:white;
}
}
